.articles-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.articles-title {
	width: 100%;
	margin-bottom: 10px;
}

.articles-subtitle {
	width: 80%;
	margin-bottom: 30px;
}

.articles-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.articles-article {
	padding-top: 0px;
	padding-left: 35px;
	padding-bottom: 20px;
	border-left: 2px solid #f4f4f5;
	width: 100%;
}

@media (max-width: 1024px) {
	.articles-title {
		width: 100% !important;
	}

	.articles-subtitle {
		width: 100% !important;
	}
}

@media (max-width: 600px) {
	.articles-container {
		padding-top: 60px;
	}
}
