.projects-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.projects-list {
	margin-top: 20px;
}

.projects-subtitle {
	margin-bottom: 10px;
}

@media (max-width: 600px) {
	.projects-container {
		padding-top: 60px;
	}

	.projects-project {
		width: calc(100% / 2);
	}
	
	.projects-list {
		margin-top: 30px;
	}
	
	.projects-subtitle {
		margin-bottom: 25px;
	}
}
