@import "../../data/styles.css";

.read-article-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.read-article-back {
	margin-bottom: 20px;
	padding-left: 1px;
}

.read-article-back-link {
	color: var(--link-color);
	text-decoration: none;
	font-size: 18px;
}

.read-article-title {
	width: 100% !important;
	margin-top: 40px;
	margin-bottom: 30px;
}

.read-article-subtitle {
	width: 100% !important;
	color: var(--tertiary-color);
	margin-bottom: 60px;
}

.read-article-content {
	margin-bottom: 100px;
	font-size: 18px;
	line-height: 1.7;
}

@media (max-width: 600px) {
	.read-article-container {
		padding-top: 60px;
	}
}
